<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <span>Login</span>
    </header>
    <div class="main">
        <div class="wrapper">
                <h3>BBS Login</h3>
            <div class="container">
                <!-- 输入框 -->
                <div class="input-banner">
                    <div class="input-line">
                        <label for="email"><img src="/images/user.png"></label>
                        <input type="text" id="email" placeholder="e-mail">
                        <label for="eamil"><img src="/images/wrong.png" id="emailCheckImg" class="checkImg"></label>
                    </div>
                    <div class="input-line">
                        <label for="password"><img src="/images/password.png" alt=""></label>
                        <input type="password" id="input_password" placeholder="password" maxlength="20" minlength="5" class="">
                        <label for="password" id="confirm_showPwd"><img src="/images/hidepwd.png" class="checkImg" alt=""></label>
                    </div>
                    <div class="input-line">
                        <label for="password"><img src="/images/password.png" alt=""></label>
                        <input type="password" id="password" placeholder="password" maxlength="20" minlength="5" class="">
                        <label for="password" id="showPwd"><img src="/images/hidepwd.png" class="checkImg" alt=""></label>
                    </div>
                </div>
                <!-- 按钮组 -->
                <div class="login-choose-group">
                    <!-- 登录按钮 -->
                    <div class="login-btn-banner">
                        <button id="loginBtn">注册</button>
                    </div>
                    <!-- 其他登录选项 -->
                    <div class="other-btn-group">
                        <a href="#" class="regsiter-link" id="regsiter-link">No Accout?</a>
                        <a href="#" class="forget-pwd" id="forget-pwd">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>